@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

:root{
    --main-color: blue;
    --black:#12121a;
    --border:.1rem solid rgba(255,255,255,.3);
}


*{
    font-family: 'Comfortaa', cursive;
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline: none;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top: 12rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.10rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: gold;
    border-radius: 10px;
}

body{
    background-color: #1b1a1a;
}

.header{
    background-color: #010102;
    position:fixed;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:2rem 5%;
    z-index: 1000;
    border-bottom:var(--border);
    top:0;
    left:0;
    right:0;
    
}

h2{
    text-align: center;
    padding-top:10px;
    padding-bottom:30px;
    font-size:25px;
    color:gold;
}

.header .logo img{
    height:6rem;
}

.header .navigbar a{
    margin: 0 2rem;
    font-size:1.8rem;
    color:white;
}

.header .navigbar a:hover{
    color:gold;
    transition:1s;
}

.header .mesicones div{
    color:white;
    font-size:2.6rem;
    margin-left:2.2rem;
}

.header .mesicones div:hover{
    color:#ffd900;
    transition:0.9s;
}


.header .search-form{
    position: absolute;
    top:105%; 
    right: -0.1%;
    background: #656565;
    width: 30%;
    margin-left:20px;
    height: 5rem;
    display: flex;
    align-items: center;
    transition:0.2s;
    transform: scaleX(0);
    border-radius:90px;
}

.header .search-form.active{
    transform: scaleX(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background-color: #c7c7c7;
    font-size: 1.6rem;
    padding:1rem;
    text-transform: none;
    border-radius:90px;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
}

.header .search-form label:hover{
    color:gold;
}

#menu-btn{
    display:none;
}

@media (max-width:991px){
    #menu-btn{
        display: inline-block;
    }

    .header .navigbar{
        top:100%;
        right:-100%;
        position: absolute;
        height: calc(100vh - 9.5rem);
        width: 30rem;
        background: rgb(65, 63, 63);
        transition:0.8s;
    }

    .header .navigbar.active{
        right: 0;
    }

    .header .navigbar a{
        margin: 5%;
        padding: 4%;
        color: white;
        display: block;
        font-size: 2rem;
    }    
}

section{
    padding-top:100px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    margin-top:1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    border-radius: 20px;
}

section p{
    color:white;
    font-size: 16px;
}

.myfooter{
    background:var(--black);
    text-align: center;
}

.myfooter .iconesshare{
    padding:1rem 0;
}

.myfooter .iconesshare a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.myfooter .iconesshare a:hover{
    color:#ffd900;
    transition:0.9s;
}

.myfooter .liens{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.myfooter .liens a{
    padding:.7rem 2rem;
    border-radius: 20px;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.myfooter .liens a:hover{
    background:#ffd900;
    color:black;
    transition: 0.9s;
}

.myfooter .infos{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.myfooter .infos span{
    color:white;
}


/*
Pour la page Contacter
*/
.sectContact{
    background-color: #282727;
}
.box {
    position: relative;
    width: 400px;
    height: auto;
    background: #f2f2f200;
    margin: 70px auto;
    padding: 40px;
    border-radius: 80px;
    box-shadow: 0 3px 5px;
    transition: 2s;

}

.box:hover {
    box-shadow: 0 3px 20px;
    transition: 1s;

}

.box {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
    color: #939393;
    font-weight: 500;
}

.box .input-box .content {
    position: relative;
}

.box .content span {
    position:absolute;
    bottom: 0;
    left: 0;
    color: #000;
    font-size: 19px;
}

.box .content i {
    position: absolute;
    bottom: 0;
    right: 0px;
    left:320px;
    color: #ffda00;
    font-size: 22px;
}
.box .input-box input {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 10px 100;
    color: white;
    box-sizing: border-box;
    font: 20px;
    padding-bottom: 15px;
}

.sectContact a{
    color:aliceblue;
}
.sectContact h2{
    color:gold;
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: "Times New Roman";
}

.box .mid {
    color: #000;
    font-size: 18px;
}

.box .mid button {
    display: block;
    width: 85%;
    background: gold;
    padding: 14px;
    border: none;
    margin: 20px;
    border-radius:60px;
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    font-size: 23px;
    cursor: pointer;
    color: black;
    transition: 1s;
    transform: scale(1.2);
}

.box .mid button:hover{
    transition:1s;
    transform: translateY(-4px);
}

/*
pour la page a propos
*/
#apropos_div1{
    margin: 2rem 0;
    gap: 2rem;
}

#apropos_section p{
    color : white;
    font-size: 16px;
}

#apropos_section h2{
    margin-bottom: 20px;
    font-size: 25px;
}

#apropos_section h3{
    color:rgb(209, 178, 1);
    margin-bottom: 20px;
    font-size: 20px;
}

textarea{
    resize: none;
    width:100%;
    background-color: white;
    border-radius: 10px;
    color:black;
    font-size: 20px;
}

/*section journal*/

.section-content{
    width:85%;
    margin:20px auto;
}

.section-content .title{
    width:60%;
    text-align: center;
    margin:auto;
}

.section-content .title h2{
    font-size: 40px;
    color:gold;
    text-transform: uppercase;
    font-family: Jazz LET, fantasy;
    
}

.section-content .title p{
    font-size: 18px;
    color:#000000;
    margin-top: 20px;
}

.section-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin:25px auto; 
}

.section-content .cards .card{
    width:100%;
    background-color: #ece1ce;
    position:relative;
}

.section-content .cards .card img{
    width:100%;
    margin: auto;
    
}

.section-content .cards .card .article{
    padding:15px 20px;
    
}

.section-content .cards .card .article h4{
    font-size: 24px;
    color:#0003ff;
}

.section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;  
    color:#000000;
}

.section-content .cards .card input{
    text-decoration: none;
    display: inline-block;
    background-color: gold;
    padding: 8px 15px;
    margin-left: 20px;
    cursor: pointer;
    color:black;
    margin-bottom: 20px;
}

.section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    background-color: gold;
    padding: 6px 15px;
    color:black
}

@media screen and (max-width: 992px){
    .section-content .cards {
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media screen and (max-width: 768px){
    .section-content .cards {
        grid-template-columns: 1fr;
    }
}

/*pagination*/
.pagination {
    display: inline-block;
  }
  
.pagination a {
    color: gold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid gold;
    margin: 0 4px;
    }

.pagination a.active {
    background-color: goldenrod;
    color: black;
    border: 1px solid goldenrod;
}
  
.pagination a:hover:not(.active) {
    background-color: goldenrod;
    color: black;
}

/*meteo*/
.meteo-section{
    text-align: center;
    color: silver;
    font-size: 20px;
    padding-top:15px;
    padding-bottom: 55px;
    margin-top:10%
}

.meteo-section h2{
    color: gold;
    padding-bottom: 25px;
}

.weather-icon1{
    width: 80;
    height: 80%;
    padding-bottom:18x;
    margin-left:20%;
    margin-bottom:20%;
}

.weather-icon{
    width: 70;
    height: 70%;
    padding-bottom:18x;
    margin-left:20%;
    margin-bottom:20%;
}

/*carte*/
#map{
    width: 50%;
    height:50%;
    border-radius: 30px;
    transition: 0.2s;
}

#map:hover{
    width: 51%;
    height:51%;
    border-radius:30px;
    transition:0.4s;
}

/* detail de la news */

.cardo {
    display: flex;
    width: 100%;
    max-width: 125rem;
    background-color: #ece1ce;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem; 
    color: black;
    flex-direction: row;
}

.cardo .imgBx {
    max-width: 400px;  
    flex: 0 0 400px;
}

.cardo .imgBx img {
    max-width: 100%;
}

.cardo .content .infoSup  {
    padding-bottom: 20px;
}

.cardo .content .infoSup .text {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 0px; 
}

.cardo .content .infoSup .text a {
    background-color: red;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3rem; 
}

.cardo .content .infoSup .text p {
    color: #000000;
    padding: 0 0 10px 0;
}

.cardo .content .infoSup .text .btnVoix{
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    margin: 0 5px 0 0;
    background-color: #f99e00;
    border: 2px solid #333333;
    outline: none;
    width: 60px;
}

.cardo .content h2{
    color: #0003ff;
    font-weight: bold;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    margin-left: 0px; 
}

.cardo .content p{
    color:#000;
}

.cardo .content {
    margin-left: 20px;
}

@media (max-width: 992px) {
    
    .cardo {
        flex-direction: column;
    }

    .cardo .content {
        margin-top: -125px;
    }

    .cardo .imgBx {
        margin: auto;
    }
    
}

@media (max-width: 768px) {

    .cardo{
        flex-direction: column;
        max-width: 400px;
    }

    .cardo .imgBx{
        max-width: 100%;
    } 

    .cardo .content{
        margin-left: 0px; 
        margin-top: -135px;
    }
}

.section-content2{
    width:85%;
    margin:20px auto;
}

.section-content2 .title{
    width:60%;
    text-align: center;
    margin:auto;
}

.section-content2 .title h2{
    font-size: 40px;
    color:gold;
    text-transform: uppercase;
    font-family: Jazz LET, fantasy;
    
}

.section-content2 .title p{
    font-size: 18px;
    color:#000000;
    margin-top: 20px;
}

.section-content2 .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin:25px auto; 
}

.section-content2 .cards .card2{
    width:100%;
    background-color: #ece1ce;
    position:relative;
    display: none;
}

.section-content2 .cards .card2:nth-child(1) {
    display: block;
}

.section-content2 .cards .card2:nth-child(2) {
    display: block;
}

.section-content2 .cards .card2:nth-child(3) {
    display: block;
}

.section-content2 .cards .card2 img{
    width:100%;
    margin: auto;
    
}

.section-content2 .cards .card2 .article{
    padding:15px 20px;
    
}

.section-content2 .cards .card2 .article h4{
    font-size: 24px;
    color:#0003ff;
}

.section-content2 .cards .card2 .article p{
    font-size: 16px;
    margin: 10px 0px;  
    color:#000000;
}

.section-content2 .cards .card2 input{
    text-decoration: none;
    display: inline-block;
    background-color: gold;
    padding: 8px 15px;
    margin-left: 20px;
    cursor: pointer;
    color:black;
    margin-bottom: 20px;
}

.section-content2 .cards .card2 .posted-date p{
    font-weight: 600;
    position: absolute;
    top:0;
    left:0;
    display: inline-block;
    background-color: gold;
    padding: 6px 15px;
    color:black
}

.btncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btncontainer .btnLoad {
    background-color: #1b1a1a;
    width: 150px;
    padding: 6px;
    font-size: 15px;
    transition: background-color .3s;
    border: 1px solid gold;
    color: gold;
    cursor: pointer;
}

.btncontainer .btnLoad:hover {
    background-color: goldenrod;
    color: black;
}


@media screen and (max-width: 992px){
    .section-content2 .cards {
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media screen and (max-width: 768px){
    .section-content2 .cards {
        grid-template-columns: 1fr;
    }
}